footer {
    background:rgb(19, 18, 18);
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Poppins';
}
.footer-content {
    color: aliceblue;
    font-size: 10px;
    text-align: center;
} 